<div class="col-lg-4 col-12 col-md-6" *ngFor="let producto of productos">
    <div class="vet-carto">
        <figure>
            <a routerLink="../shop/producto/{{producto.nombre}}">
                <img [src]="producto.imagen" alt="producto" title="producto">
            </a>
        </figure>
        <div class="sp-content p-3">
            <h4 class="title"><a routerLink="../shop/producto/{{producto.nombre}}">{{producto.nombre}}</a></h4>
            <div class="sp-descripcion">
                <p class="m-0">{{producto.descripcionCorta}}</p>
            </div>
            <div class="sp-precio d-flex pt-2 pb-2 justify-content-center align-items-center">
                <div *ngIf="producto.precioViejo" class="precio-old me-2">
                    <del>${{producto.precioViejo}}</del>
                </div>
                <div class="precio-actual"><b>${{producto.precio}}</b></div>
            </div>
            <div class="sp-bottom d-flex align-self-center justify-content-between">
                <button [routerLink]="['../shop/checkout', producto.nombre]" class="btn btn-primary w-100">Comprar</button>
            </div>
        </div>
    </div>
</div>

