<!-- Las secciones de contenidos de la pagina de contacto -->

<section class="page-title bg-dark text-light p-100">
    <div class="container"><div class="row">
        <div class="col">
            <h1 class="title">Contacto</h1>
        </div>
    </div></div>
</section>

<section class="home-contenido bloque-info p-100">
    <div class="container"><div class="row">
        <div class="col-lg-6 col-12">
            <h2 class="title">Lorem Impsum text</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
        </div>
        <div class="col-lg-6 col-12">
            <form id="formulario-contacto" name="ctform" class="d-flex flex-column" method="post" onsubmit="return validateForm()">
                <input type="text" placeholder="Nombre"  id="ctnombre" name="ctnombre" class="mb-2 form-control" maxlength="20" minlength="4">
                <input type="text" placeholder="Apellido"  id="ctapellido" name="ctapellido" class="mb-2 form-control" maxlength="20" minlength="4">
                <input type="email" placeholder="E-mail"  id="ctmail" name="ctmail" class="mb-2 form-control">
                <textarea name="ctmensaje" placeholder="Mensaje" id="" cols="30" rows="10" class="mb-2 form-control"></textarea>
                <input type="submit" value="Enviar" class="btn btn-primary">
            </form>
        </div>
    </div></div>
</section>