<section class="page-title bg-dark text-light p-100">
    <div class="container"><div class="row">
        <div class="col">
            <h1 class="title">Cuidados generales</h1>
        </div>
    </div></div>
</section>

<section class="pagina-contenido bloque-info p-100">
    <div class="container"><div class="row">
        <div class="col-lg-6 col-12 order-lg-1 order-2 align-self-center">
            <h2 class="title">Lorem Impsum text</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
        </div>
        <div class="col-lg-6 col-12 order-lg-2 order-1">
            <div class="page-image"><img alt="cobayo" src="../../../assets/images/cobayo1.jpg" /></div>
        </div>
    </div></div>
</section>

<section class="pagina-contenido bloque-info">
    <div class="container"><div class="row">
        <div class="col-12">
            <div class="banner-image"><img alt="cobayo" src="../../../assets/images/banner-COBAYA.jpg" /></div>
        </div>
    </div></div>
</section>

<section class="pagina-contenido bloque-info p-100 bg-light">
    <div class="container"><div class="row">
        <div class="col-lg-6 col-12 order-lg-2 order-2 align-self-center">
            <h4 class="uppertitle">Lorem Impsum</h4>
            <h2 class="title">Lorem Impsum text</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
        </div>
        <div class="col-lg-6 col-12 order-lg-1 order-1">
            <div class="page-image"><img alt="cobayo" src="../../../assets/images/cobayo2.jpg" /></div>
        </div>
    </div></div>
</section>



<section class="pagina-contenido bloque-info p-100">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h4 class="uppertitle">Lorem Impsum</h4>
                <h2 class="title">Lorem Impsum text</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="gallery-image"><img alt="cobayo" src="../../../assets/images/cobayo3.jpg" /></div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="gallery-image"><img alt="cobayo" src="../../../assets/images/cobayo4.jpg" /></div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="gallery-image"><img alt="cobayo" src="../../../assets/images/cobayo5.jpg" /></div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="gallery-image"><img alt="cobayo" src="../../../assets/images/cobayo6.jpg" /></div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="gallery-image"><img alt="cobayo" src="../../../assets/images/cobayo7.jpg" /></div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="gallery-image"><img alt="cobayo" src="../../../assets/images/cobayo8.jpg" /></div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="gallery-image"><img alt="cobayo" src="../../../assets/images/cobayo9.jpg" /></div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-4">
                <div class="gallery-image"><img alt="cobayo" src="../../../assets/images/cobayo10.jpg" /></div>
            </div>
        </div>
    </div>
</section>