<!-- Las secciones de contenidos de la home -->

<section class="home-contenido slider">
    <div class="container-fluid"><div class="row">
        <div id="slider" class="m-0 p-0"><img alt="cuidado_mascotas" src="../../../assets/images/Banner_cuidadomascotas.gif" /></div> 
    </div></div>
</section>

<section class="home-contenido bloque-info p-100">
    <div class="container"><div class="row">
        <div class="col-lg-6 col-12 order-lg-1 order-2 align-self-center">
            <h4 class="uppertitle">Lorem Impsum dolor</h4>
            <h2 class="title">Lorem Impsum text</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <button class="btn btn-primary">More Info</button>
        </div>
        <div class="col-lg-6 col-12 order-lg-2 order-1 pb-2 pb-lg-0">
            <div class="bi-image"><img alt="bloque-info-image" src="../../../assets/images/bloque1.jpeg" /></div>
        </div>
    </div></div>
</section>

<section class="home-contenido bloque-info p-100 bg-light">
    <div class="container"><div class="row">
        <div class="col-lg-6 col-12 order-lg-2 order-2 align-self-center">
            <h4 class="uppertitle">Lorem Impsum dolor</h4>
            <h2 class="title">Lorem Impsum text</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <button class="btn btn-primary">More Info</button>
        </div>
        <div class="col-lg-6 col-12 order-lg-1 order-1 pb-2 pb-lg-0">
            <div class="bi-image"><img alt="bloque-info-image" src="../../../assets/images/bloque2.jpg" /></div>
        </div>
    </div></div>
</section>

<section class="home-contenido banner-center p-100">
    <div class="container"><div class="row">
        <div class="col-12">
            <img alt="banner-center" src="../../../assets/images/banner-center.jpg" />
        </div>
    </div></div>
</section>