<!-- Las secciones de contenidos de una pagina de veterinaria  -->

<section class="page-title bg-dark text-light p-100" 
    style="background-image:url(../../../assets/images/p1-title-img.jpg);">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="title">{{veterinariaInfo.nombre}}</h1>
                <div class="servicio-vet">
                    <div class="categoria-vet">
                        <h5>{{veterinariaInfo.categoria}} </h5>
                    </div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-regular fa-star"></i>
                    </div>
                    <div class="vet-state">
                        <div *ngIf="veterinariaInfo.open == 1; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock><div  class="vt-state open badge">Open</div></ng-template>
                        <ng-template #elseBlock><div  class="vt-state closed badge">Closed</div></ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="paseador-contenido p-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 order-lg-1 order-2 align-self-center">

                <div [innerHtml]="veterinariaInfo.descripcion"></div>
                <a routerLink="../../../shop" class="btn btn-primary">Ver Productos!</a>

            </div>
            <div class="col-lg-6 col-12 order-lg-2 order-1 mb-4 mb-lg-0">
                <div class="page-image"><img alt="veterinaria" [src]="veterinariaInfo.imageUrl" /></div>
            </div>
        </div>
    </div>
</section>

<section class="paseador-contenido p-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 order-lg-1 order-2">
                <h2 class="title">Servicios</h2>
                <div class="accordion accordion-flush" id="accordionServicios">

                    <div class="accordion-item" *ngFor="let servicio of veterinariaInfo.servicios">
                        <h2 class="accordion-header" id="flush-heading{{servicio.id}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                attr.data-bs-target="#flush-collapse{{servicio.id}}" aria-expanded="false"
                                attr.aria-controls="flush-collapse{{servicio.id}}">
                                {{servicio.titulo}}
                            </button>
                        </h2>
                        <div id="flush-collapse{{servicio.id}}" class="accordion-collapse collapse"
                            attr.aria-labelledby="flush-heading{{servicio.id}}" data-bs-parent="#accordionServicios">
                            <div class="accordion-body">{{servicio.descripcion}}</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-12 order-lg-2 order-1 mb-4 mb-lg-0">
                <h2 class="title">Ubicación</h2>
                <p><b>{{veterinariaInfo.Direccion}}</b></p>
                <div class="vet-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13617.888008212678!2d-64.22696006044919!3d-31.428670299999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2a3c0068edd%3A0x9d0a4b74177dd19b!2sVeterinaria%20Alem%20Sucursal%20Julio%20Roca!5e0!3m2!1sen!2sar!4v1668020304993!5m2!1sen!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-contenido bloque-info p-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="card peto">
                    <h3>Horario</h3>
                    <p>Estos son los horarios que manejamos para el servicio!</p>
                    <ul class="horario">
                        <li class="horario-item">
                            <span class="horario-dia">Lunes</span>
                            <span class="horario-dots"></span>
                            <div *ngIf="veterinariaInfo.horario[0].from == 'cerrado' || veterinariaInfo.horario[0].to == 'cerrado'; then cerradoBlock else abiertoBlock"></div>
                            <ng-template #cerradoBlock>
                                <span class="horario-tiempo">Cerrado</span>
                            </ng-template>
                            <ng-template #abiertoBlock>
                                <span class="horario-tiempo">{{ veterinariaInfo.horario[0].from }} - {{ veterinariaInfo.horario[0].to }}</span>
                            </ng-template>
                        </li>
                        <li class="horario-item">
                            <span class="horario-dia">Martes</span>
                            <span class="horario-dots"></span>
                            <div *ngIf="veterinariaInfo.horario[1].from == 'cerrado' || veterinariaInfo.horario[1].to == 'cerrado'; then cerradoBlock else abiertoBlock"></div>
                            <ng-template #cerradoBlock>
                                <span class="horario-tiempo">Cerrado</span>
                            </ng-template>
                            <ng-template #abiertoBlock>
                                <span class="horario-tiempo">{{ veterinariaInfo.horario[1].from }} - {{ veterinariaInfo.horario[1].to }}</span>
                            </ng-template>
                        </li>
                        <li class="horario-item">
                            <span class="horario-dia">Miercoles</span>
                            <span class="horario-dots"></span>
                            <div *ngIf="veterinariaInfo.horario[2].from == 'cerrado' || veterinariaInfo.horario[2].to == 'cerrado'; then cerradoBlock else abiertoBlock"></div>
                            <ng-template #cerradoBlock>
                                <span class="horario-tiempo">Cerrado</span>
                            </ng-template>
                            <ng-template #abiertoBlock>
                                <span class="horario-tiempo">{{ veterinariaInfo.horario[2].from }} - {{ veterinariaInfo.horario[2].to }}</span>
                            </ng-template>
                        </li>
                        <li class="horario-item">
                            <span class="horario-dia">Jueves</span>
                            <span class="horario-dots"></span>
                            <div *ngIf="veterinariaInfo.horario[3].from == 'cerrado' || veterinariaInfo.horario[3].to == 'cerrado'; then cerradoBlock else abiertoBlock"></div>
                            <ng-template #cerradoBlock>
                                <span class="horario-tiempo">Cerrado</span>
                            </ng-template>
                            <ng-template #abiertoBlock>
                                <span class="horario-tiempo">{{ veterinariaInfo.horario[3].from }} - {{ veterinariaInfo.horario[3].to }}</span>
                            </ng-template>
                        </li>
                        <li class="horario-item">
                            <span class="horario-dia">Viernes</span>
                            <span class="horario-dots"></span>
                            <div *ngIf="veterinariaInfo.horario[4].from == 'cerrado' || veterinariaInfo.horario[4].to == 'cerrado'; then cerradoBlock else abiertoBlock"></div>
                            <ng-template #cerradoBlock>
                                <span class="horario-tiempo">Cerrado</span>
                            </ng-template>
                            <ng-template #abiertoBlock>
                                <span class="horario-tiempo">{{ veterinariaInfo.horario[4].from }} - {{ veterinariaInfo.horario[4].to }}</span>
                            </ng-template>
                        </li>
                        <li class="horario-item">
                            <span class="horario-dia">Sábado</span>
                            <span class="horario-dots"></span>
                            <div *ngIf="veterinariaInfo.horario[5].from == 'cerrado' || veterinariaInfo.horario[5].to == 'cerrado'; then cerradoBlock else abiertoBlock"></div>
                            <ng-template #cerradoBlock>
                                <span class="horario-tiempo">Cerrado</span>
                            </ng-template>
                            <ng-template #abiertoBlock>
                                <span class="horario-tiempo">{{ veterinariaInfo.horario[5].from }} - {{ veterinariaInfo.horario[5].to }}</span>
                            </ng-template>
                        </li>
                        <li class="horario-item">
                            <span class="horario-dia">Domingo</span>
                            <span class="horario-dots"></span>
                            <div *ngIf="veterinariaInfo.horario[6].from == 'cerrado' || veterinariaInfo.horario[6].to == 'cerrado'; then cerradoBlock else abiertoBlock"></div>
                            <ng-template #cerradoBlock>
                                <span class="horario-tiempo">Cerrado</span>
                            </ng-template>
                            <ng-template #abiertoBlock>
                                <span class="horario-tiempo">{{ veterinariaInfo.horario[6].from }} - {{ veterinariaInfo.horario[6].to }}</span>
                            </ng-template>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="card peto">
                    <h3>Contacto</h3>
                    <ul class="contacto">
                        <li *ngIf="veterinariaInfo.email" class="contacto-item">
                            <i class="fa-solid fa-envelope"></i> <a href="mailto:{{ veterinariaInfo.email }}">{{ veterinariaInfo.email }}</a>
                        </li>
                        <li *ngIf="veterinariaInfo.telefono" class="contacto-item">
                            <i class="fa-brands fa-whatsapp"></i> <a href="https://wa.me/{{ veterinariaInfo.telefono }}">{{ veterinariaInfo.telefono }}</a>
                        </li>
                        <li *ngIf="veterinariaInfo.telefono" class="contacto-item">
                            <i class="fa-solid fa-phone"></i> <a href="tel:{{ veterinariaInfo.telefono }}">{{ veterinariaInfo.telefono }}</a>
                        </li>
                    </ul>
                    <h3>Redes</h3>
                    <ul class="redes">
                        <li *ngIf="veterinariaInfo.instagram" class="redes-item">
                            <i class="fa-brands fa-instagram"></i> <a href="{{ veterinariaInfo.instagram }}">@instagram</a>
                        </li>
                        <li *ngIf="veterinariaInfo.facebook" class="redes-item">
                            <i class="fa-brands fa-facebook"></i> <a href="{{ veterinariaInfo.facebook }}">@facebook</a>
                        </li>
                        <li *ngIf="veterinariaInfo.twitter" class="redes-item">
                            <i class="fa-brands fa-twitter"></i> <a href="{{ veterinariaInfo.twitter }}">@twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card peto">
                    <h3>Consulta</h3>
                    <form id="vet-consulta" name="vetform" class="d-flex flex-column" method="post">
                        <input type="text" placeholder="Nombre" id="vtnombre" name="vtnombre" class="mb-2 form-control"
                            maxlength="20" minlength="4">
                        <input type="email" placeholder="E-mail" id="vtmail" name="vtmail" class="mb-2 form-control">
                        <textarea name="vtmensaje" placeholder="Mensaje" id="" cols="30" rows="6"
                            class="mb-2 form-control"></textarea>
                        <input type="submit" value="Enviar" class="btn btn-primary">
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>



<section class="home-contenido bloque-info p-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h4 class="uppertitle">Valoraciones</h4>
                <h2 class="title">Opiniones y algo mas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="valora-no-loged">
                    <a class="btn" href="user.html">Necesitas registrarte/loguearte para valorar</a>
                </div>
                <form id="valora-form">
                    <div class="vf-username">Roberto Carlo</div>
                    <div class="vf-stars" id="vf-star">
                        <i class="fa-regular fa-star" id="val-star1"></i>
                        <i class="fa-regular fa-star" id="val-star2"></i>
                        <i class="fa-regular fa-star" id="val-star3"></i>
                        <i class="fa-regular fa-star" id="val-star4"></i>
                        <i class="fa-regular fa-star" id="val-star5"></i>
                    </div>
                    <input type="number" max="5" min="0" class="mb-2 form-control d-none" value="0" name="vf-val"
                        id="vf-val" placeholder="0">
                    <textarea name="vf-mensaje" placeholder="Valoración" id="" cols="30" rows="10"
                        class="mb-2 form-control bg-light mb-2"></textarea>
                    <button class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div class="row valoraciones">
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Juan Antonio Solis</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut
                        explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut
                        reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Estela Gutierrez</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut
                        explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut
                        reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Carla Martinez</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut
                        explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut
                        reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Marco Aurelio</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut
                        explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut
                        reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Juana Viale</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut
                        explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut
                        reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
        </div>
    </div>
</section>