    <!-- Footer con dos bloques, uno con descripcion, menu y logo, el segundo con links de privacidad y copyright-->

    <footer class="bg-dark p-100 text-light pb-0">
        <div class="container p-100 pt-0">
            <div class="row footer-top">
                <div class="col-12 col-lg-4">
                    <div class="footer-bloque bloque-1 p-lg-2 pl-0 pt-2 pb-2">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae dolorum perspiciatis provident voluptas nihil similique
                    </div>
                   
                </div>
                <div class="col-12 col-lg-4">
                    <div class="footer-bloque bloque-2 p-lg-2 pt-2 pb-2">
                        <ul class="menu-footer">
                            <li class="menu-item">
                                <a routerLink="mascotas/informacion-mascotas">Mascotas</a>
                            </li>
                            <li class="menu-item">
                                <a routerLink="/veterinarias/inicio-veterinarias">Veterinarias</a>
                            </li>
                            <li class="menu-item">
                                <a routerLink="cuidados/paseadores">Cuidados</a>
                            </li>
                            <li class="menu-item">
                                <a routerLink="comunidad/feed">Comunidad</a>
                            </li>
                            <li class="menu-item">
                                <a routerLink="contacto">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>                
                <div class="col-12 col-lg-4 pt-2 pb-2 d-lg-flex d-none justify-content-lg-end">
                    <div class="footer-blocque bloque-3 p-lg-2 pr-0 logo-footer text-lg-end">
                        <img src="../../../assets/images/logo.png" />
                    </div>
                </div>
            </div>            
        </div>
        <div class="bg-black"><div class="container">
            <div class="row footer-bottom pt-3 pb-3">
                <div class="fb-item col-lg-6">
                    <a href="#" class="d-lg-inline d-block">Politica de Cookies</a>
                    <a href="#" class="d-lg-inline d-block">Politicas de Privacidad</a>
                </div>
                <div class="fb-item col-lg-6 text-lg-end">Copyrith 2022</div>
            </div>
        </div></div>
    </footer>
