<!-- Header con dos bloques, primero uno con logo, busqueda y acceso, el segundo con menu-->
<header id="top-header" class="pt-4 pb-4">
    <div class="container">
        <div class="row th-top">
            <div class="col-3 col-lg-4 col-md-3">
                <div id="logo"><img alt="logo" src="../../../assets/images/logo.png" /></div>
            </div>
            <div class="col-7 col-lg-4 col-md-5 text-center">
                <form class="d-flex buscador">
                    <input type="search" name="buscar" placeholder="¿Qué estas buscándo?" autocomplete="off"
                        class="form-control">
                    <button type="submit" class="search-button btn"><i
                            class="fa-solid fa-magnifying-glass"><span>Buscar</span></i></button>
                </form>
            </div>
            <div class="col-2 col-lg-4 col-md-4 text-end">
                <div class="user d-inline-block"><a routerLink="usuario/iniciar-sesion" routerLinkActive="active"
                        title="user"><i class="fa-solid fa-user"></i>Iniciar sesión</a></div>

                <div class="d-inline-block d-lg-none d-md-none menu-toggler">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
        <app-nav></app-nav>
    </div>
</header>